.hero{
   position: relative;
   background-image: 
      linear-gradient(to top, rgba(black, .3) 50%, rgba(black, .9)),
      url('/img/bg.png');
   width: 100%;
   min-height: 100vh;

   #chk-produtos{
      visibility: hidden;
      position: absolute;
   }

   #chk-produtos:checked ~ .nav-produtos{
      height: 360px;
   }

   #chk-produtos:checked ~ .nav{
      label, a{
         color: $violet;
      }

      .nav-button{
         a{
            color: $text-on-white;
         }
      }
      
      .btn-lang{
         border-color: $violet;
         color: $violet;
      }
   }

   .nav{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1rem;
      z-index: 3;

      .logo{
         width: 7%;
      }

      .nav-list{
         display: flex;
         list-style-type: none;
         margin: 0 7rem;

         .nav-item{
            label, a{
               font-family: 'PT Sans', sans-serif;
               font-size: 1rem;
               font-weight: 400;
               text-decoration: none;
               color: white;
               mix-blend-mode: difference;
               cursor: pointer;
               transition: .3s ease;
            }
         }

         .nav-item + .nav-item{
            margin-left: 4rem;
         }

         .nav-button{
            a{
               font-family: Averta, 'Open Sans', sans-serif;
               font-size: .8rem;
               font-weight: 700;
               letter-spacing: .15rem;
               text-transform: uppercase;
               padding: .7rem 1.5rem;
               background-color: white;
               color: $text-on-white;
               border-radius: 120px;
            }
         }
      }

      .btn-lang{
         padding: .5rem 1rem;
         font-family: Averta, 'Open Sans', sans-serif;
         font-size: .7rem;
         font-weight: 700;
         color: white;
         background-color: transparent;
         border: 1px solid white;
         letter-spacing: .03rem;
         transition: all .3s ease;

         .icon-down{
            margin-left: .6rem;
         }
      }
   }

   .nav-produtos{
      background-color: white;
      position: absolute;
      top: 0;
      z-index: 1;
      height: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 1.4rem;
      transition: all .5s ease;

      a{
         color: $violet;
         text-decoration: underline;
         font-family: 'PT Sans', 'Open Sans', sans-serif;
         font-size: .9rem;
         font-weight: 700;
      }

      > div{
         display: flex;
         justify-content: center;
         align-items: flex-end;
         gap: 1.4rem;

         .item-produto{
            figure{
               display: flex;
               flex-direction: column;
               align-items: center;
               
               img{
                  width: 100px;
                  height: 100px;
                  background-color: #F2F0F1;
                  border: 1px solid $yellow;
               }
   
               figcaption{
                  font-family: 'PT Sans', 'Open Sans', sans-serif;
                  font-size: .9rem;
                  font-weight: 400;
                  margin: 0 auto;
               }
            }
         }
      }
   }

   .slogan{
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      background-color: $primary;
      max-width: initial;
      width: 100%;
      height: 35%;
      min-height: 200px;

      &__content{
         max-width: 1245px;
         display: flex;
         // justify-content: space-between;
         align-items: center;
         margin-top: -5rem;
         gap: 3rem;

         .phrase{
            color: white;
            font-size: 2.5rem;
            flex: 1;
            // max-width: 500px;
         }
   
         .invite{
            color: $text-on-blue;
            flex: 1;
            // max-width: 200px;
            font-family: 'PT Sans', 'Open Sans', sans-serif;
            font-size: 1rem;
         }
   
         .btn-about{
            flex: .2;

            .icon-forwards{
               opacity: .4;
            }

            // max-width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            color: white;
            background-color: rgba(black, .3);
            border: none;
            border-radius: .8rem;
         }
      }
   }
}