$primary: #3286C3;
$primary-dark: #143866;
$primary-light: #4698CA;

$text-on-white: #317CAA;
$text-on-blue: #051339;

$light: #FAFAF7;
$light-text: #6A6A57;

$orange: #FF5E0F;
$yellow: #FFBF3F;
$violet: #606395;
$pink: #E31C79;
$green: #78BE21;