@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.9))), url("/img/bg.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.9)), url("/img/bg.png");
  width: 100%;
  min-height: 100vh;
}

.hero #chk-produtos {
  visibility: hidden;
  position: absolute;
}

.hero #chk-produtos:checked ~ .nav-produtos {
  height: 360px;
}

.hero #chk-produtos:checked ~ .nav label, .hero #chk-produtos:checked ~ .nav a {
  color: #606395;
}

.hero #chk-produtos:checked ~ .nav .nav-button a {
  color: #317CAA;
}

.hero #chk-produtos:checked ~ .nav .btn-lang {
  border-color: #606395;
  color: #606395;
}

.hero .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 3;
}

.hero .nav .logo {
  width: 7%;
}

.hero .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 7rem;
}

.hero .nav .nav-list .nav-item label, .hero .nav .nav-list .nav-item a {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .nav .nav-list .nav-item + .nav-item {
  margin-left: 4rem;
}

.hero .nav .nav-list .nav-button a {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .15rem;
  text-transform: uppercase;
  padding: .7rem 1.5rem;
  background-color: white;
  color: #317CAA;
  border-radius: 120px;
}

.hero .nav .btn-lang {
  padding: .5rem 1rem;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  letter-spacing: .03rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero .nav .btn-lang .icon-down {
  margin-left: .6rem;
}

.hero .nav-produtos {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .nav-produtos a {
  color: #606395;
  text-decoration: underline;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 700;
}

.hero .nav-produtos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.4rem;
}

.hero .nav-produtos > div .item-produto figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .nav-produtos > div .item-produto figure img {
  width: 100px;
  height: 100px;
  background-color: #F2F0F1;
  border: 1px solid #FFBF3F;
}

.hero .nav-produtos > div .item-produto figure figcaption {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  margin: 0 auto;
}

.hero .slogan {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3286C3;
  max-width: initial;
  width: 100%;
  height: 35%;
  min-height: 200px;
}

.hero .slogan__content {
  max-width: 1245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5rem;
  gap: 3rem;
}

.hero .slogan__content .phrase {
  color: white;
  font-size: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero .slogan__content .invite {
  color: #051339;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
}

.hero .slogan__content .btn-about {
  -webkit-box-flex: .2;
      -ms-flex: .2;
          flex: .2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: .8rem;
}

.hero .slogan__content .btn-about .icon-forwards {
  opacity: .4;
}

.main-content {
  width: 70%;
  max-width: 1245px;
  margin: 0 auto;
  margin-top: -100px;
}

.main-content .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.main-content .projects__item {
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0;
}

.main-content .projects__item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  max-width: 415px;
}

.main-content .projects__item figure .photo {
  z-index: 1;
}

.main-content .projects__item figure .desc {
  z-index: 2;
}

.main-content .projects__item figure .desc .icon-bg {
  margin-top: -30px;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #143866;
  float: left;
  margin-right: 1rem;
}

.main-content .projects__item figure .desc .icon-bg .icon {
  width: 50px;
  height: 50px;
}

.main-content .projects__item figure .desc .caption {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-top: 1rem;
  color: #6A6A57;
}

.main-content main {
  margin-top: 7rem;
}

.main-content main .athlete {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main-content main .athlete__text {
  width: 60%;
  padding: 4rem;
  background-color: white;
}

.main-content main .athlete__text h2 {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #FF5E0F;
  max-width: 270px;
}

.main-content main .athlete__text p {
  margin-top: 3.5rem;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #6A6A57;
  max-width: 400px;
}

.main-content main .athlete__text p + p {
  margin-top: 1.5rem;
}

.main-content main .athlete__text p:nth-child(4) {
  margin-bottom: 3rem;
}

.main-content main .athlete__text a {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  padding: .7rem 1.2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: white;
  background-color: #FF5E0F;
  border-radius: 120px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-content main .athlete__text a:hover {
  opacity: .7;
}

.main-content main .athlete__image {
  margin-left: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .athlete__image button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: #FF5E0F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.main-content main .athlete__image button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #db4800;
}

.main-content main .athlete__image figure {
  position: relative;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .athlete__image figure .typo {
  position: absolute;
  width: 90%;
}

.main-content main .taste {
  margin-top: 7rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .taste__image figure {
  position: relative;
}

.main-content main .taste__image figure .leafs-1 {
  position: absolute;
  left: -400px;
  top: -200px;
}

.main-content main .taste__image figure .leafs-2 {
  position: absolute;
  top: -80px;
  left: 40px;
}

.main-content main .taste__image figure .ellipse-1, .main-content main .taste__image figure .ellipse-2 {
  position: absolute;
  z-index: -1;
  top: -20px;
}

.main-content main .taste__image figure .ellipse-1 {
  left: -20px;
}

.main-content main .taste__image figure .ellipse-2 {
  left: 15px;
}

.main-content main .taste__image figure .fruits-bg {
  position: absolute;
  z-index: -2;
  border-radius: 50%;
}

.main-content main .taste__text {
  padding: 4rem;
  z-index: 2;
}

.main-content main .taste__text h2 {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #FFBF3F;
  max-width: 450px;
}

.main-content main .taste__text p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #6A6A57;
  max-width: 400px;
}

.main-content main .taste__text a {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  padding: .7rem 1.2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: white;
  background-color: #FFBF3F;
  border-radius: 120px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-content main .taste__text a:hover {
  opacity: .7;
}

.main-content main .follow {
  margin-top: 7rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .follow__text {
  padding: 8rem 4rem;
  padding-right: 8rem;
  background-color: #4698CA;
}

.main-content main .follow__text h2 {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #FFBF3F;
  max-width: 450px;
}

.main-content main .follow__text p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  max-width: 400px;
}

.main-content main .follow__text a {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  padding: .7rem 1.2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: white;
  background-color: #FFBF3F;
  border-radius: 120px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-content main .follow__text a:hover {
  opacity: .7;
}

.main-content main .follow__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 45%;
  overflow: hidden;
  max-width: 951px;
}

.main-content main .follow__slider section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main-content main .follow__slider section::after {
  content: '';
  display: block;
  right: 0;
  width: 15%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#FAFAF7), color-stop(90%, transparent));
  background-image: linear-gradient(to left, #FAFAF7, transparent 90%);
  position: absolute;
}

.main-content main .follow__slider section .slider-card {
  max-width: 285px;
  height: 430px;
  background-color: white;
  overflow: hidden;
}

.main-content main .follow__slider section .slider-card .card-content {
  padding: 1.5rem;
}

.main-content main .follow__slider section .slider-card .card-content h3 {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #4698CA;
}

.main-content main .follow__slider section .slider-card .card-content blockquote {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  color: #6A6A57;
}

.main-content main .follow__slider section .slider-card .card-content a {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  padding: .5rem 1rem;
  border: 1px solid #e0e0e0;
  color: #4f4f4f;
  text-decoration: none;
  position: absolute;
  bottom: .5rem;
}

.main-content main .follow__slider section .slide-forward, .main-content main .follow__slider section .slide-backward {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #FF5E0F;
  z-index: 2;
  cursor: pointer;
}

.main-content main .follow__slider section .slide-forward {
  margin-left: -50px;
}

.main-content main .follow__slider section .slide-backward {
  margin-right: -50px;
}

.main-content main .follow__slider #rdb-slide-1, .main-content main .follow__slider #rdb-slide-2 {
  position: absolute;
  visibility: hidden;
}

.main-content main .follow__slider #rdb-slide-1:checked ~ #slider-1 {
  margin-left: 0;
}

.main-content main .follow__slider #rdb-slide-2:checked ~ #slider-1 {
  margin-left: -951px;
}

.main-content main .share {
  margin-top: 7rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .share__text {
  width: 80%;
  max-width: 500px;
  padding: 4rem;
  padding-right: 8rem;
}

.main-content main .share__text figure img {
  position: absolute;
  left: -200px;
}

.main-content main .share__text object {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(30%) sepia(50%) saturate(3000%) hue-rotate(170deg) brightness(60%) contrast(100%);
          filter: invert(30%) sepia(50%) saturate(3000%) hue-rotate(170deg) brightness(60%) contrast(100%);
}

.main-content main .share__text h2 {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  color: #606395;
  max-width: 450px;
}

.main-content main .share__text blockquote {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #E31C79;
  max-width: 400px;
}

.main-content main .share__image {
  position: absolute;
  right: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.main-content main .share__image figure {
  max-width: 285px;
  max-height: 285px;
}

.main-content main .sport {
  margin-top: 7rem;
  position: relative;
}

.main-content main .sport__text h2 {
  margin: 0 auto;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #78BE21;
  max-width: 440px;
  text-align: center;
}

.main-content main .sport__text p {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #6A6A57;
  max-width: 680px;
  text-align: center;
}

.main-content main .sport__slider {
  overflow: hidden;
}

.main-content main .sport__slider #rdb-menu-sport-1, .main-content main .sport__slider #rdb-menu-sport-2, .main-content main .sport__slider #rdb-menu-sport-3,
.main-content main .sport__slider #rdb-sport-slide-1, .main-content main .sport__slider #rdb-sport-slide-2 {
  visibility: hidden;
  position: absolute;
}

.main-content main .sport__slider #rdb-menu-sport-1:checked ~ .sport-menu label:nth-child(1) {
  background-color: #78BE21;
  color: white;
  -webkit-box-shadow: 0 3px 10px 0 rgba(120, 190, 33, 0.7);
          box-shadow: 0 3px 10px 0 rgba(120, 190, 33, 0.7);
}

.main-content main .sport__slider #rdb-menu-sport-1:checked ~ .sport-menu label:nth-child(1) object {
  -webkit-filter: grayscale(100%) brightness(100000%) contrast(100%);
          filter: grayscale(100%) brightness(100000%) contrast(100%);
}

.main-content main .sport__slider #rdb-menu-sport-2:checked ~ .sport-menu label:nth-child(2) {
  background-color: #78BE21;
  color: white;
  -webkit-box-shadow: 0 3px 10px 0 rgba(120, 190, 33, 0.7);
          box-shadow: 0 3px 10px 0 rgba(120, 190, 33, 0.7);
}

.main-content main .sport__slider #rdb-menu-sport-2:checked ~ .sport-menu label:nth-child(2) object {
  -webkit-filter: grayscale(100%) brightness(100000%) contrast(100%);
          filter: grayscale(100%) brightness(100000%) contrast(100%);
}

.main-content main .sport__slider #rdb-menu-sport-3:checked ~ .sport-menu label:nth-child(3) {
  background-color: #78BE21;
  color: white;
  -webkit-box-shadow: 0 3px 10px 0 rgba(120, 190, 33, 0.7);
          box-shadow: 0 3px 10px 0 rgba(120, 190, 33, 0.7);
}

.main-content main .sport__slider #rdb-menu-sport-3:checked ~ .sport-menu label:nth-child(3) object {
  -webkit-filter: grayscale(100%) brightness(100000%) contrast(100%);
          filter: grayscale(100%) brightness(100000%) contrast(100%);
}

.main-content main .sport__slider #rdb-sport-slide-1:checked ~ #slider-sport-1 {
  margin-left: 0;
}

.main-content main .sport__slider #rdb-sport-slide-2:checked ~ #slider-sport-1 {
  margin-left: -1220px;
}

.main-content main .sport__slider .sport-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.main-content main .sport__slider .sport-menu label {
  border: 1px solid #78BE21;
  border-radius: 120px;
  padding: .5rem 1.5rem;
  font-family: Averta, 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: #78BE21;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  max-width: 200px;
  cursor: pointer;
}

.main-content main .sport__slider .sport-menu label object {
  margin: auto;
  height: 15px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.main-content main .sport__slider .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content main .sport__slider section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main-content main .sport__slider section .slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .sport__slider section .slider-card figure {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content main .sport__slider section .slider-card figure figcaption {
  margin-top: 1rem;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #78BE21;
}

.main-content main .sport__slider section .slider-card h4 {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  color: #6A6A57;
}

.main-content main .sport__slider section .slide-forward, .main-content main .sport__slider section .slide-backward {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #78BE21;
  z-index: 2;
  cursor: pointer;
}

.main-content main .sport__slider section .slide-forward {
  margin-left: -80px;
}

.main-content main .sport__slider section .slide-backward {
  margin-right: -80px;
}

.partner {
  width: 100vw;
  max-width: initial;
  background-color: #f2f2ee;
  padding: 3rem;
  margin-top: 10rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__text {
  padding: 4rem;
  z-index: 2;
}

.partner__text h2 {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #FF5E0F;
  max-width: 450px;
}

.partner__text p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #6A6A57;
  max-width: 400px;
}

.partner__text a {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  padding: .7rem 1.2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: white;
  background-color: #FF5E0F;
  border-radius: 120px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.partner__text a:hover {
  opacity: .7;
}

.partner__image {
  z-index: 1;
}

.partner__image figure {
  position: relative;
}

.partner__image figure .elements {
  position: absolute;
  margin-left: -70px;
  z-index: -1;
}

.partner__image figure div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  color: #FF5E0F;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 7rem;
  font-weight: 700;
  z-index: 3;
  margin-left: -70px;
  margin-top: 150px;
}

.footer {
  background-color: #03257E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer footer > object {
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer header {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.footer header blockquote {
  margin: auto;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

.footer header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer header form .input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer header form .input-block label {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.footer header form .input-block input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: .7rem 1rem;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 400;
  min-width: 200px;
}

.footer header form .input-block + .input-block {
  margin-left: 2rem;
}

.footer header form #btn-enviar-novidades {
  margin-left: 2rem;
  background-color: white;
  color: #03257E;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .15rem;
  text-transform: uppercase;
  padding: 0 2rem;
  border: none;
  border-radius: 120px;
  height: 40px;
}

.footer .wrapper {
  width: 100vw;
  background-color: #012765;
}

.footer .wrapper .content {
  margin: 0 auto;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .wrapper .content .menu object {
  width: 190px;
}

.footer .wrapper .content .menu p {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: white;
}

.footer .wrapper .content .menu ul {
  list-style-type: none;
}

.footer .wrapper .content .menu ul li {
  margin-top: 1rem;
}

.footer .wrapper .content .menu ul li .footer-menu {
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: #56CCF2;
  text-decoration: underline;
}

.footer .wrapper .content .menu blockquote {
  margin-top: 2rem;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: #8AA6D5;
}

.footer .wrapper .content .contato {
  margin-left: 1rem;
}

.footer .wrapper .content .contato .tipos h4 {
  text-transform: uppercase;
  letter-spacing: .15rem;
  color: white;
  font-weight: 700;
  font-size: .9rem;
  font-family: Averta, 'Open Sans', sans-serif;
  margin-bottom: 2rem;
}

.footer .wrapper .content .contato .tipos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer .wrapper .content .contato .tipos div object {
  width: 20px;
  height: 20px;
}

.footer .wrapper .content .contato .tipos div div {
  display: block;
}

.footer .wrapper .content .contato .tipos div div p {
  color: #56CCF2;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.footer .wrapper .content .contato .tipos a {
  color: #56CCF2;
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

.footer .wrapper .content .contato .c-sobre {
  margin-top: 2rem;
  border: 1px solid #56CCF2;
  padding: 2rem;
}

.footer .wrapper .content .contato .c-sobre h4 {
  color: white;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.footer .wrapper .content .contato .c-sobre p {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #8AA6D5;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer .wrapper .content .contato .c-sobre a {
  text-decoration: none;
  padding: .7rem 1.5rem;
  background-color: #56CCF2;
  color: #012765;
  font-family: Averta, 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 700;
  border-radius: 120px;
}

.footer .wrapper .content .divulgacao {
  margin-left: 1rem;
}

.footer .wrapper .content .divulgacao h4 {
  letter-spacing: .15rem;
  color: white;
  font-weight: 700;
  font-size: .9rem;
  font-family: Averta, 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.footer .wrapper .content .divulgacao > div + div {
  margin-top: 2rem;
}

.footer .wrapper .content .divulgacao .social, .footer .wrapper .content .divulgacao .pagamento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.footer .wrapper .content .divulgacao .social div, .footer .wrapper .content .divulgacao .pagamento div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer .wrapper .content .divulgacao .sustentabilidade {
  margin-top: 3rem;
  display: block;
}

.footer .wrapper .content .divulgacao .sustentabilidade > .row {
  margin-top: 1rem;
}

.footer .wrapper .content .divulgacao .sustentabilidade .col {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.footer .wrapper .content .divulgacao .sustentabilidade figure {
  width: 125px;
  height: 70px;
  background-color: white;
  border-radius: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #FAFAF7;
}
/*# sourceMappingURL=main.css.map */